
extends layout


block content
	h1 Все курсы Академии

	form(method="post" action="http://localhost:3000/courses/add")
		fieldset.form.group
			label(for="name") Name:
			input.form-control(id="name", name="name", type="text", placeholder="Введите имя курса")
			small.text-muted Добавить свой новый курсы.
		button.btn.btn-primary(type="submit") Создать курсы
		a.btn.btn-default(href="/courses") Отмена